@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins, Arial, Helvetica, sans-serif);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}

.animate-shimmer {
  background-size: 1000px 100%;
  animation: shimmer 2s linear infinite;
}


/* Premium Vertical Line (Navbar) */
@keyframes shineSweep {
  0% {
    transform: translateX(-100%) rotate(25deg);
    opacity: 0;
  }

  50% {
    transform: translateX(0%) rotate(25deg);
    opacity: 0.6;
  }

  100% {
    transform: translateX(100%) rotate(25deg);
    opacity: 0;
  }
}

@keyframes ghostSweep {
  0% {
    transform: translateX(-120%) rotate(25deg);
    opacity: 0;
  }

  50% {
    transform: translateX(-10%) rotate(25deg);
    opacity: 0.3;
  }

  100% {
    transform: translateX(100%) rotate(25deg);
    opacity: 0;
  }
}